<% @page_title = "Editing Transport for Player \"#{@player.signifier}\"" %>

<% form_for([@player, @transport]) do |f| %>
  <%= f.error_messages %>

	<%= render(:partial => 'form.html.erb', :locals => { :f => f } ) %>

  <label></label>
    <%= f.submit 'Update' %>

<% end %>

<%= link_to 'Show', player_transport_path(@player, @transport) %> |
<%= link_to "Transports for #{@player.signifier}", player_transports_path(@player) %>