<% @page_title = "Peer for Player \"#{@player.signifier}\"" %>

<p>
<%= @peer.signifier %><br />
<%= @peer.resolver.end_point %><br />
<%= link_to( 'Email', "mailto:#{@peer.get_transport('email')}" ) %>
</p>

<%= link_to 'Edit', edit_player_peer_path(@player, @peer) %> |
<%= link_to "Peers for #{@player.signifier}", player_peers_path(@player) %>